@media (min-width:1200px) {}

/* @media (min-width:768px) and (max-width:1024px) {} */

@media (min-width:481px) and (max-width:1023px) {

    .header-content {
        /* grid-template-columns: repeat(2, 1fr) !important; */
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
/* 
    .header-input {
        display: none;
    } */

    .logo {
        width: 85px !important;
        height: 85px !important;
        transition: 350ms ease-in 0s;
    }
}

@media screen and (max-width: 480px) {
    .header-content {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .header-input {
        display: none;
    }

    .logo {
        width: 70px !important;
        height: 70px !important;
        transition: 350ms ease-in 0s;
    }

}