@media (min-width:1200px) {

}

/* @media (min-width:768px) and (max-width:1024px) {} */

@media (min-width:481px) and (max-width:1023px) {
    
    .header-content {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .header-input {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header-content {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .header-input {
        display: none;
    }
}